@font-face{
  font-family: 'LatoLight';
  src: url('./assets/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal; 
}
@font-face{
  font-family: 'LatoRegular';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}
@font-face{
  font-family: 'LatoHairline';
  src: url('./assets/fonts/Lato/Lato-Hairline.ttf') format('truetype');
  font-weight: medium;
  font-style: normal; 
}
@font-face{
  font-family: 'LatoBold';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; 
}

@font-face{
  font-family: 'CeraProRegular';
  src: url('./assets/fonts/CeraPro/CeraPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}
@font-face{
  font-family: 'CeraProMedium';
  src: url('./assets/fonts/CeraPro/CeraPro-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal; 
}
@font-face{
  font-family: 'CeraProBold';
  src: url('./assets/fonts/CeraPro/CeraPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; 
}
@font-face{
  font-family: 'CeraProLight';
  src: url('./assets/fonts/CeraPro/CeraPro-Light.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal; 
}

@font-face{
  font-family: 'CiscularStdBold';
  src: url('./assets/fonts/CircularStd/CircularStd-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal; 
}
@font-face{
  font-family: 'CircularStdRegular';
  src: url('./assets/fonts/CircularStd/CircularStd-Book.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal; 
}
@font-face{
  font-family: 'CircularStdMedium';
  src: url('./assets/fonts/CircularStd/CircularStd-Medium.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal; 
}

@font-face{
  font-family: 'OpenSansBold';
  src: url('./assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal; 
}
@font-face{
  font-family: 'OpenSansRegular';
  src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal; 
}
@font-face{
  font-family: 'OpenSansMedium';
  src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal; 
} 
body {
  margin: 0;
  padding: 0;
  font-family: 'LatoRegular', sans-serif;
}

html {
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  outline: none;
}

h1{
  font-family: 'CeraProMedium', sans-serif;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
}

.hide{
  display: none !important;
}

/* react-input-range */
.input-range{
  height: 1rem;
  width: 96px;
  position: relative;
  padding: 5px 0px 0px;
}
.input-range__label {
  color: #000;
  font-size: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.input-range__label--min, .input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
  display: none;
}
.input-range__label--min {
  left: 0;
}
.input-range__label--max {
  right: 0;
}
.input-range__label--value {
  position: absolute;
  left: -5px;
  top: -1.8rem;
}
.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}
.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range__track--active {
  background: #000;
}

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #000;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  margin-left: -0.5rem;
  margin-top: -6px;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

@media screen and (max-width: 680px) {
  h1{
    font-size: 24px;
  }
}